<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>demo</title>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="theme-color" content="#222">
    <link href="/css/doc.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.10.0-12/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/marked/0.7.0/marked.min.js"></script>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/highlight.js/9.15.9/styles/atom-one-light.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/highlight.js/9.15.8/highlight.min.js"></script>
    <link href="https://cdn.bootcss.com/github-markdown-css/3.0.1/github-markdown.min.css" rel="stylesheet">
</head>

<body>
<div class="home-header">
    <div class="wrapper">
        <div class="home-title">
            <h1><a href="https://github.com/landers1037">Landers1037</a></h1>
            <h3>Marked-Flask</h3>
        </div>
    </div>
</div>
<div id="content" class="markdown-body"></div>

<div id="footer">
    <div class="text-center"><a href="https://github.com/landers1037" class="fab fa-github"></a></div>
    <hr style="background-color: #BCC1C3;width: 60%;border-top: .5px solid rgba(0,0,0,.1);margin-top: 0.5rem;margin-bottom: 0.5rem">
    <div class="text-center">Marked-Flask by Landers1037</div>

</div>

<script>var name = "{{ name }}"</script>
<script type="text/javascript" src="/js/doc.js"></script>
</body>
</html>